
<div  class="animated fadeIn center row">
  <div class="col-8">
<div class="card shadow-lg p-3 mx-auto bg-white rounded">

    <h1 class="text-center">
      Ingresa a PaseShow
    </h1>
  
    <form>
      <div class="container m-3 mx-auto">
        <div class="form-group">
          <label for="exampleInputEmail1">DNI :</label>          
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
  
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña :</label>
          <input type="password" class="form-control" id="exampleInputPassword">
         </div>
  
        <div class="form-check">
          <input type="checkbox" aria-label="Checkbox for following text input">
          <label class="form-check-label m-3" for="exampleRadios1">
            Recordarme/<a href="Olvido-Contraseña">Olvidé mi contraseña</a>
          </label>
        </div>
  
        <button type="submit" class="btn btn-outline-success container-fluid">INGRESAR</button>
  
        <p class="registrarse text-center">¿No tienes una cuenta? <a href="LINK-PARA-REGISTRARSE">Registrarse</a></p>
      </div>
    </form>
  </div>
  </div>
</div>
